body {
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;
    transform: translate(-50%, -50%);

    background-image: url("/static/fola.png.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    opacity: 0.18;

    pointer-events: none;
    z-index: 0;
}

body > * {
    position: relative;
    z-index: 1;
}
