<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Student Dashboard</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>


<body>


<header class="topbar">

    <strong>
        🎓 Student Portal
    </strong>

    <a href="/logout" class="logout">
    Logout
    </a>

</header>


<main class="dashboard">


    <h1>
        Welcome, {{ student_name }} 👋
    </h1>


    <div class="student-info">
         <p><strong>Class:</strong> {{ class_name }}</p>
         <p><strong>Department:</strong> {{ department }}</p>
    </div>

    <div class="modules">


        <a
            href="/subjects"
            class="module"
        >

            📚

            <h2>
                Subjects
            </h2>

            <p>
                Access your e-notes
            </p>

        </a>


        <a
            href="/results"
            class="module"
        >

            📊

            <h2>
                Results
            </h2>

            <p>
                View and print your results
            </p>

        </a>


        <a
            href="/news"
            class="module"
        >

            📰

            <h2>
                School News
            </h2>

            <p>
                View school announcements
            </p>

        </a>


    </div>


</main>


</body>

</html>
