{% extends "base.html" %}

{% block content %}

<div class="login-card">

    <h1>Welcome</h1>

    <p>
        Sign in to FMS School Portal
    </p>

    <form method="post">

        <label>
            Login as
        </label>

        <select name="role" required>

            <option value="">
                Select role
            </option>

            <option value="student">
                Student
            </option>

            <option value="teacher">
                Teacher
            </option>

            <option value="admin">
                Administrator
            </option>

        </select>


        <label>
            Name
        </label>

        <input
            name="name"
            required
            autocomplete="username"
            placeholder="Enter your name"
        >


        <label>
            Password
        </label>

        <input
            type="password"
            name="password"
            required
            autocomplete="current-password"
            placeholder="Enter your password"
        >


        <button type="submit">
            Login
        </button>

    </form>

</div>

{% endblock %}
